*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
}
header{
background-color: #5e2129;
color: #fff;
padding: 1rem 0;
text-align: center;
} 
nav ul{

list-style: none;
display: flex;
justify-content: center;
gap: 1rem;
}
nav a{
    color: #fff;
    text-decoration: none;
}
.hero{
    background-color: #cac4c4;
    padding: 2rem;
    text-align: center;
}
.articles{
    padding: 2rem
}

.articles{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.card {
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}
.card img {
max-width: 600px;
width: 600px;
height: auto;
border-radius: 8px;
margin-bottom: 1rem;
}
.card h3{
    font-size: 1.5;
    margin: 0.5rem 0;
}
.card p{
    font-size: 1rem;
    color: #666;
}
.card a{
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}
.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 8px;
}
.carousel-images img{
width: 100%;
display: none;
}
.carousel-images img.active{
    display: none;
}
.carousel-button {

position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: rgba(0, 0, 0, 0.5);
color: #fff;
border: none;
padding: 1rem;
cursor: pointer;

}
.prev { 
left: 10px;
}
.next {
right: 10px;
}
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3;
    z-index: 1000;
}
.notification.show{
    opacity: 1;
    visibility: visible;
}
.video-section {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.video-section video,
.video-section iframe {
    width: 800px;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}